* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body    {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    color: #5b5766;
    font-size: 1.8rem;
    line-height: 1.5;
}

ul {
    list-style: none;
}
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight:  bold;
    color: #554d89;
}

.btn {
    border: none;
    text-decoration: none;
    height: 40px;
    border-radius: 40px;
    padding: 0 1.5rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.btn-light {
    background: transparent;
    border: solid 1px #6852ed;
    font-size: 1.4rem;
    color: #6852ed;
}

.btn-dark {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    padding: 1.3rem 3rem;
}

.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #554D89;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}

.link:hover {
    text-shadow: 0 0 1px #554D89;
}

.link-arrow::after {
    content: '';
    font-family: FontAwesome;
    margin-left: 1.5rem;
}

.divider {
    border: none;
    border-bottom: 1px solid #E1E4ED;
}

.wrapper {
    width: 1146px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 2.4rem 0 1.7rem;
}

.top-header-text {
    color: #716c80;
    font-size: 1.6rem;
}

.top-header-phone {
    color: #716c80;
    text-decoration: none;

}

.top-header-phone:hover {
    text-decoration:underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.top-header-phone::before {
    margin-right: 0.8rem;
}

.header-navbar {
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    margin-right: 5.8rem;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    margin-right: 4rem;
    position: relative;
    padding: 1.8rem 0;
}

.header-menu-item:last-child {
    margin-right: 0;
}

.header-submenu {
    display: none;
    position: absolute;
    top: 5.4rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #E1E4ED;
    background-color: #FFFFFF;
}

.header-menu-item:hover .header-submenu {
    display: block;
}

.header-submenu > .header-menu-item {
    padding: 0;
    margin-bottom: 1rem;
}

.header-submenu > .header-menu-item:last-child {
    margin-bottom: 0;
}

.header-menu-link {
    color: #554D89;
    font-size: 1.6rem;
    text-decoration: none;
}

.header-menu-link:hover {
    color: #554d89;
    text-shadow: 0 0 1px;
}

.header-menu-link-active {
    color: #554d89;
    font-weight: 700;
}

.header-actions-text {
    display: inline-block;
    margin: 0 0.5rem;
}

.stage {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.stage-content {
    position: relative;
    top: -6rem;
}

.stage-title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.stage-text {
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

.stage-actions .btn-dark {
    margin-right: 3rem;
}

.btn-bottom  {
    position: absolute;
    left: 50%;
    bottom: -10%;
    width: 80px;
    height: 80px;
    background: #6852ED;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
    margin-bottom: 12rem; 
}

.infoblock {
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
    padding: 3rem;
}

.dollar-sign{
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.file-invoice-dollar {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.comments-dollar {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.infoblock:hover {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
    border-radius: 10px;
}

.infoblock-title {
    font-size: 2.2rem;
    margin-bottom: 1.9rem;
}

.infoblock-text {
    font-size: 1.8rem;
    color: #716c80;
}

.link-arrow-infoblock-link {
    display: none;
    color: #fff;
    margin-top: 1rem;
}

.infoblock:hover .dollar-sign {
    display: none;
}

.infoblock:hover .file-invoice-dollar {
    display: none;
}

.infoblock:hover .comments-dollar {
    display: none;
}

.infoblock:hover .infoblock-title {
    color: #fff;
}

.infoblock:hover .infoblock-text {
    color: #FFFFFF;
}

.infoblock:hover .link-arrow-infoblock-link {
    display: inline-block;
    padding: 1rem;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-acton{
    margin: 15px 0px 0px 70px;

}

.article-title {
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.article-text {
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.new-btn-dark  {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    padding: 1.3rem 3rem;
    border-radius: 40px;
    margin:15px 0px 0px 40px;
    text-decoration: none;
}

.new-link-arrow {
    margin-left: 3rem;
    text-decoration: none;
}

.new-link-arrow:hover {
    text-shadow: 0 0 1px #554D89;
}